:root {
    --dark: 	#000f74;
    --dark-x: #0307fadc;
    --dark-xx: #222222;
    --light: #ffffff;
    --primary: #f83c3c;
    --primary-x: #d40505;
    --muted: #A1B0BF;
    
}'

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: aliceblue;
    color: var(--light);
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a { color: var(--primary); }

a:hover {
    color: var(--primary-x);
    text-decoration: none;
}

.navbar { min-height: 2rem; 

    background: #fff;



}

.navbar a {
    text-transform: uppercase;
}

.bnt-search {
    right: 0;
}

.text-primary {
    background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    font-weight: 600;
    padding: .8rem 1rem;
    border: 0;
    border-radius: .4rem;
}

.btn-primary {
    background-color: var(--dark) !important; 
}

.btn-primary:hover {
    background-color: var(--dark-xx);
    opacity: .8;
}

.shadow {
    box-shadow:  0 .5rem .5rem 0 rgba(0,0,0,.5)!important;
}

.bg-image {
    background-image: url('../img/location1.jpg');
    background-size: cover;
    min-height: 700px;
}



.carousel {
    width: 150px;
    height: 150px;
    text-align: center;
}

.bg-dark { background-color: var(--dark) !important; }

.bg-dark-x { background-color: var(--dark-x) !important; }

.bg-primary { background: linear-gradient(90deg, var(--primary) 0%, var(--primary-x) 100%); }

.bg-image-x {
    background-image: url('../img/fondoblanco.jpg');
    background-size: cover;
    min-height: 600px;
}

.card {
    border-radius: 1rem;
}

.icon-container {
    width: 35px;
    height: 35px;
}

.rounded-top {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

#carouselPage {
    width: 100%;
    height: 250px;
}

.list-inline {
    color: #fff;
    text-align:center;
    margin: 0 0;
}


.map-container-5{
overflow:hidden;
padding-bottom:20.25%;
position:relative;
height:0;
}
.map-container-5 iframe{
left:0;
top:0;
height:90%;
width:100%;
position:absolute;
padding: auto;
}


@media (max-width: 575.98px) {
    .w-75 {
        width: 100% !important;
    }
    .py-5 {
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .btn {
        width: 100%;
        height: 50%;
    }
    .list-inline-item {
        display: block;
        text-align: center;
    }

    #tour{
        display:none !important;
    }





    footer {
        text-align: center;
    }
    footer .list-inline-item {
        display: inline-block;
    }
    footer .text-right {
        text-align: center !important;
    }
    footer small {
        display: block;
    }
}